
/*
 * Personal CSS
 */
body {
    background-color: #2d2d2d;
    margin: 0;
    overflow: hidden;
}


.heading h1 {
    margin: auto;
    text-align: center;
    color: #61dafb;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
}

.container {
    background-color: #2d2d2d;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    height: 100%;
}

.fb-live {
    margin: auto;
    text-align: center;
}

.fb-live img {
    margin: 30px;
    height: 40px;
}

.break-text {
    font-family: 'Pangolin';
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.lemonade-text {
    color: yellow;
}

.lemonade svg {
    display: block;
    margin: auto;
}

.follow-text {
    color: #3d5a98;
    font-family: "Pangolin";
    font-size: 34px;
    text-align: center;
}

.follow-link {
    text-align: center;
    font-size: 40px;
    font-family: "Pangolin";
    margin-top: 10px;
    color: white;
}